.container {
    max-width: 800px;
}

.form-control {
    margin-bottom: 15px;
}

h2 {
    font-weight: bold;
    background-color: #3E3232; 
    padding: 10px; 
    margin-bottom: 20px;
    color: #ffffff; 
}

.table {
    margin-top: 20px;
    background-color: #f0f1f2; 
    border-collapse: collapse; 
    width: 100%;
}

@media (max-width: 576px) {
    .table {
        margin-top: 0;
    }
}

.btn {
    margin-bottom: 3px;
    margin-right: 5px;
    margin-bottom: 1rem;
}

.table thead th {
    background-color: #503C3C; 
    color: #ffffff; 
    border: 1px solid #333; 
}


.table tbody td {
    border: 1px solid #333; 
}


.table tbody td:nth-child(1) {
    background-color: #FDF7E4; 
}

.table tbody td:nth-child(2) {
    background-color: #FAEED1; 
}

.form-control label {
    font-weight: bold;
}

.table tbody td:nth-child(3) {
    background-color: #FDF7E4; 
}

.table tbody td:nth-child(4) {
    background-color: #FAEED1; 
}
